# <font color=hotpink> Spark Notebook </font>

- Notebook to test and run spark code.

### <font color="#765341"> Test code </font>
- Code to check whether `Spark Context` is working with jupyter notebook or not.

In [1]:
sc

In [2]:
# Create a list of integers
numberArray = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Parallelize the list into an RDD
numbersRDD = sc.parallelize(numberArray)

# Perform a reduction operation to calculate the sum
sumTotal = numbersRDD.reduce(lambda a, b: a + b)

# Print the result
print(sumTotal)

55

25/08/17 21:53:44 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("Data Frame Example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

25/09/09 21:41:44 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
from pyspark.sql import *

In [5]:
Student = Row("firstName", "lastName", "age", "telephone")
s1 = Student('David', 'Julian', 22, 100000)
s2 = Student('Mark', 'Webb', 23, 658545)

In [8]:
StudentData=[s1,s2]
df=spark.createDataFrame(StudentData)
df.show()

+---------+--------+---+---------+
|firstName|lastName|age|telephone|
+---------+--------+---+---------+
|    David|  Julian| 22|   100000|
|     Mark|    Webb| 23|   658545|
+---------+--------+---+---------+

In [9]:
from pyspark.sql import *

In [11]:
spark = SparkSession.builder.appName('handson-1').getOrCreate()

25/09/09 22:19:07 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [12]:
passenger = Row('Name', 'Age', 'Source', 'Destination')
r1 = passenger('David', 22, 'London', 'Sydney')
r2 = passenger('Steve', 22, 'New York', 'LA')
data = [r1, r2]
df = spark.createDataFrame(data)

In [13]:
df.show()

+-----+---+--------+-----------+
| Name|Age|  Source|Destination|
+-----+---+--------+-----------+
|David| 22|  London|     Sydney|
|Steve| 22|New York|         LA|
+-----+---+--------+-----------+